header{
    margin: 0 auto;
    margin-bottom: 4vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(243, 242, 242, 0.877);
    box-shadow: 0 0 15px rgb(216, 214, 214);
}
header>div{
    width: 900px;
    display: flex;
}
.NavBar{
    width: 100%;
}
nav{
    display: flex;
}
nav>a{
    margin-right: 55px;
    font-size: 17px;
    color: rgb(26, 25, 25);
    text-decoration: none;
}
header>div>img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.search{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 18px;
    margin-bottom: 10px;
}
.search>a{
    padding-right: 13px;
    font-size: 15px;
}
.search>div>a{
    padding-right: 35px;
    font-size: 15px;
}
a>img{
    object-fit: cover;
    width: 12px;
    height: 12px;
    padding-right: 5px;
}
nav{
    padding: 18px 0 10px 13px;
    display: flex;
}
nav>a{
    margin-right: 55px;
    font-size: 17px;
    color: rgb(26, 25, 25);
    text-decoration: none;
}